    <style>

      #book-container {
        background: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(146, 144, 144, 0.1);
        display: flex;
        flex-wrap: wrap;
      }

      #book-container div {
        flex: 1;
      }

      #book-container div *:not(.btn) {
      padding: .5rem 1rem;
      }

      img {
        display: block;
        margin: 0 auto 20px auto;
        border-radius: 4px;
        max-width: 100%;
        height: auto;
      }

      .btn {
        margin: 1rem;
        padding: 10px 15px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s;
      }

      img {
        width: 100%;
	aspect-ratio: 1/1.5;

      }

      .btn:hover {
        background-color: #0056b3;
      }

      @media screen and (max-width: 768px){
        #book-container {
        flex-direction: column;
	gap: 1rem;
      }
      }
    </style>
    <div id="book-container">
      <div class="ctn"><a class="btn" href="/book">Back to books</a>
        <h1><%= book.bookTitle %></h1>
        <img src="<%= book.imageURL %>" alt="<%= book.bookTitle %>" /></div>
      <div class="cyn"><h2>Author: <%= book.authorName %></h2>
        <p><strong>Category:</strong> <%= book.category %></p>
        <p><%= book.bookDescription %></p>
        <a class="btn" href="<%= book.bookPDFURL %>" target="_blank">Read PDF</a></div>
      
      
    </div>
  </body>
</html>
