
  <!-- Featured Books -->
      <section class="book-categories">
        <h2 class="categories-title">Our Featured Books of the Week</h2>
      </section>
    <div class="book-grid">
    <% books.forEach(book => { %>
  <a href='books/<%= book.id %>;'>  <div class="book">
      <img src="<%= book.imageURL %>" alt="<%= book.bookTitle %>">
      <h3><%= book.bookTitle %></h3>
      <p>by <%= book.authorName %></p>
    </div>
  </a>
<% }); %>
 
    </div>
    <section class="book-categories">
      <h2 class="categories-title">Explore Categories</h2>
      <div class="categories-grid">
        <div class="category">
          <img src="assets/fiction.png" alt="Fiction" />
          <div class="category-overlay">
            <h3>Fiction</h3>
          </div>
        </div>
        <div class="category">
          <img src="assets/science.png" alt="Science" />
          <div class="category-overlay">
            <h3>Science</h3>
          </div>
        </div>
        <div class="category">
          <img src="assets/history.png" alt="History" />
          <div class="category-overlay">
            <h3>History</h3>
          </div>
        </div>
        <div class="category">
          <img src="assets/mystery.png" alt="Mystery" />
          <div class="category-overlay">
            <h3>Mystery</h3>
          </div>
        </div>
      </div>
    </section>
